{% extends "base.html" %}
{% block body %}
{% load static %}






<!-- 並び替え　-->

<form action = "{% url 'eat:index' %}" method = "get" class = "form-row">
<div class="input-group justify-content-center">
<div class="col-0 my-3">
    <select name = "order" class="custom-select" id="inlineFormCustomSelect">
      {% if request.GET.order == 'old' %}
      <option value="new" label='新しい順'></option>
      <option selected value="old" label='古い順'></option>
      {% else %}
      <option selected value="new" label='新しい順'></option>
      <option value="old" label='古い順'></option>
      {% endif %}
    </select>
    {% if request.GET.search %}
      <input name="search" value="{{ request.GET.search }}" type="hidden">
    {% endif %}
    <!-- よんへバージョン
    {% if search != "None" %}
      <input name="search" value="{{ search }}" type= "hidden">
    {% endif %}
    -->
</div>
<div class="my-3">
    <button class="btn btn-outline-success" type="submit">並べ替え</button>
  </div>
  </div>
</form>

<!-- 選択消去ボタン　-->

{% if recipe_count >= 2 and not request.GET.deletes and object_list %}
<form action="" method="get">
  <div class="input-group justify-content-center row">
　<div class="offset-md-6 col-md-4 mb-3 offset-9 col-3">
    <button name = "deletes" value = "deletes" class="btn btn-outline-success" type="submit">選択消去</button>
  </div>
  </div>
</form>
{% endif %}







<!-- リスト　-->
<div class = "container">
<div class = "row">

<!-- レシピがない時　-->
{% if recipe_count == 0 %}
<div class = "offset-md-2 col-md-7 col-12">
  <div class = "d-flex justify-content-center">
    <div class="card my-5 text-center" style="max-width: 540px">
      <div class="my-5 mx-5">
        <p>まだ投稿がありません</p>
        <p><a href = "{% url 'eat:create' %}">新規作成</a>からレシピを作成してみましょう!!</p>
      </div>
    </div>
  </div>
</div>

<!-- 検索で該当するレシピがない時　-->
{% elif not object_list %}
<div class = "offset-md-2 col-md-8 col-12">
<div class = "d-flex justify-content-center">
  <div class="card my-5 text-center" style="max-width: 540px">
    <div class="my-5 mx-5">
      <p>該当する投稿はありませんでした</p>
    </div>
  </div>
</div>
</div>
<!-- 選択消去のボタンが押された時　-->
{% elif request.GET.deletes %}
<form action="" method="post">
  {% csrf_token %}
  <!-- 選択消去時のボタン　-->
  <div class="row">
    <div class="offset-1 offset-sm-1 offset-md-4 offset-lg-8 col-6">
  <a class="btn btn-info" href="{% url 'eat:index' %}" role="button">戻る</a>
  <button type="submit" class="btn btn-danger">消去</button>
  </div>
  </div>
  <!-- 選択消去時のリスト　-->
    {% for object in object_list %}
    <div class = "d-flex justify-content-center">
    <div class = "row">
    <!-- チェックボックス　-->
    <div class = "col-1 ">
    <input class="ml-3 mt-4" type="checkbox" name="delete" value="{{ object.pk }}">
    </div>
    <!-- 投稿　-->
    <div class = "col-11 ">
          <div class="card mx-3 my-3" style="width: 26rem">
            <div class="row no-gutters" style='height: 12rem'>
              <div class="col-4 my-5 " >
                {% if object.photo %}
                  <img class="card-img" src="{{ object.photo.url }}">
                {% else %}
                  <img class="card-img" src="{% static 'img/smIMGL3647_TP_V.jpg' %}">
                {% endif %}
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title text-center"><a href = "{% url 'eat:detail' object.id %}">{{ object.recipe_name }}</a></h5>
                  <p class="card-text">材料: {{ object.ingredient | truncatechars:35 }}</p>
                  <p class="card-text">種類: {{ object.type }}</p>
                  <div class ="text-right">
                    <h8 class="card-text"><small class="text-muted">投稿日: {{ object.date | date:"Y/n/j" }}</small></h8>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        </div>
        </div>


    {% endfor %}
  </form>

{% else %}
<!-- 通常のリスト　-->
  <div>
  {% for object in object_list %}
    <div class = " offset-lg-7 offset-md-2 col-sm-12 col-12">
    <div class = "d-flex justify-content-center">

      <div class="card mx-3 my-3" style="width: 28rem">
        <div class="row no-gutters" style='height: 12rem'>
          <div class="col-4 my-5 " >
            {% if object.photo %}
              <img class="card-img" src="{{ object.photo.url }}">
            {% else %}
              <img class="card-img" src="{% static 'img/smIMGL3647_TP_V.jpg' %}">
            {% endif %}
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title text-center"><a href = "{% url 'eat:detail' object.id %}">{{ object.recipe_name }}</a></h5>
              <p class="card-text">材料: {{ object.ingredient | truncatechars:20 }}</p>
              <p class="card-text">種類: {{ object.type }}</p>
              <div class ="text-right">
                <h8 class="card-text"><small class="text-muted">投稿日: {{ object.date | date:"Y/n/j" }}</small></h8>
              </div>
            </div>
          </div>
        </div>
        </div>

    </div>
    </div>


  {% endfor %}
  </div>
{% endif %}




<!-- アイコン　-->

<div class="offset-3 offset-md-4 offset-lg-4 co1-3">
<div class="card text-center mt-3 mb-5" style="width: 14rem;">
  <div class="my-4">
    {% if user.icon %}
      <img src="{{ user.icon.url }}" class="rounded-circle " style="width: 100px;height: 100px;">
    {% else %}
      <img src="{% static 'img/illustration-2541681_1280.jpg' %}" class="rounded-circle " style="width: 100px;height: 100px;">
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-text">ユーザー名：{{ user.username }}</p>
    <p class="card-text">レシピの数：{{ recipe_count }}</p>
    <p class="card-text">開始日：{{ user.date_joined | date:"Y/n/j" }}</p>
    <p class="card-text text-right"><a href = "{% url 'signup:detail' %}">編集</a></p>
  </div>
</div>
</div>

</div>









<!-- ページネーション -->
{% if recipe_count >= 6 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}


    {% for page in paginator.page_range %}
    <li {% if page == page_obj.number %} class="page-item active" {% endif %}>
      <a class="page-link" href="?page={{ page }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>

</nav>
{% endif %}

</div>








{% endblock %}
