<!-- 綺麗なフォーム　-->

{% extends "base.html" %}

{% block body %}

<div class="card mx-auto mt-5" style="width: 30rem;">
 <div align="center" class="my-5">
  <div class = "mb-4">
   <h3>退会の手続き</h3>
  </div>
  <div>
  <p>退会すると、今までの投稿も削除されます</p>
  <p>よろしいですか？</p>
  </div>

  <form action = "" method = "post">
  {% csrf_token %}
  <table>
  {% csrf_token %}
  {% for field in form %}
  {{field.as_hidden}}
  {% endfor %}
  </table>

  <div class = "mt-4">
  <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}"role="button">戻る</a>
  <button name="choise" value="delete" type="submit" class="btn btn-danger">退会</button>
  </div>
  </form>
 </div>
</div>

{% endblock %}
