{% extends "base.html" %}
{% block body %}
{% load static %}




<div class="card mx-auto mt-5" style="width: 30rem;">
    <img src="{% static 'img/food-3048440_1280.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 align="center" class="card-title">CooooK!は料理登録サイトです</h3>
        <p align="center" class="card-text">レシピを追加する＞＞<a href="{% url 'eat:create' %}">新規作成</a></p>
  </div>
</div>


<!-- サイトマップ　-->
  <div class="container">
  <div class="mx-auto" style="width: 300px;">
  <div class="mt-5 mb-5">
    <div class = "d-flex justify-content-center">
    <h1>Sitemap</h1>
    </div>

    <section id="sec1">
      <div class="mt-4">
      <h5><a class="text-success" href="{% url 'signup:top' %}">トップページ</a></h5>
          <ul>
            <li>サイトの説明</li>
            <li>サイトマップ</li>
          </ul>
      </div>
    </section>
    <section id="sec2">

      <h5><a class="text-success" href="{% url 'eat:index' %}">マイページ</a></h5>
      <ul>
        <li><a class="text-info" href="{% url 'eat:index' %}">レシピ一覧</a></li>
        <li><a class="text-info" href="{% url 'eat:create' %}">新規作成</a></li>
        <li>プロフィール</li>
      </ul>
    </section>
    {% if user.is_authenticated %}
    <section id="sec3">
      <h5><a class="text-success" href="{% url 'signup:detail' %}">会員情報変更</a></h5>
          <ul>
            <li><a class="text-info" href="{% url 'signup:update' user.id %}">ユーザー情報変更</a></li>
            <li><a class="text-info" href="{% url 'signup:changepass' %}">パスワード変更</a></li>
            <li><a class="text-info" href="{% url 'signup:delete' user.id %}">退会の手続き</a></li>
          </ul>
    </section>
    {% else %}
    <section id="sec3">
      <h5><a class="text-success" href="{% url 'signup:new' %}">会員登録</a></h5>
    </section>
    <section id="sec4">
      <h5><a class="text-success" href="{% url 'signup:password_reset' %}">パスワードをお忘れの方</a></h5>
    </section>
    {% endif %}

  </div>
  </div>
</div>
</div>




{% endblock %}
